- name: Ensure UFW is installed
  ansible.builtin.package:
    name: ufw
    state: present

- name: Allow firewall ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ firewall_allowed_ports }}"

- name: Deny all other incoming connections
  community.general.ufw:
    rule: deny
    direction: in

- name: Enable UFW
  community.general.ufw:
    state: enabled
    logging: true
