[DEFAULT]
ignoreip = {{ fail2ban_trusted_ips | join(' ') }}
[sshd]
enabled = true
logpath = /var/log/auth.log
findtime = 10m
maxretry = 3
bantime = 12h
[recidive]
enabled = true
filter = recidive
logpath = /var/log/fail2ban.log
bantime = 7d
findtime = 1d
maxretry = 5