- name: Create user
  ansible.builtin.include_tasks:
    create_user.yaml

- name: Add SSH public key
  ansible.builtin.include_tasks:
    ssh_key.yaml

- name: Allow to use sudo without password
  ansible.builtin.include_tasks:
    sudo_nopass.yaml
