- name: Add SSH public key for "{{ users_new_user_name }}"
  ansible.posix.authorized_key:
    user: "{{ users_new_user_name }}"
    state: present
    key: "{{ users_ssh_pubkey_path }}"

- name: Add SSH public key for root
  ansible.posix.authorized_key:
    user: "root"
    state: present
    key: "{{ users_ssh_root_pubkey_path }}"
